<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eat.today.member.query.mapper.MemberMapper">

    <!-- 이메일로 회원 아이디 조회 -->
    <select id="selectIdByEmail" parameterType="string" resultType="string">
        SELECT m.member_id
        FROM member m
        WHERE m.member_email = #{memberEmail}
    </select>

    <!-- 내 프로필 조회 -->
    <select id="findMyProfile" parameterType="java.lang.Integer"
            resultType="com.eat.today.member.query.dto.FindProfileDTO">
        SELECT
            m.member_name  AS memberName,
            m.member_birth AS memberBirth,
            m.member_phone AS memberPhone,
            m.member_email AS memberEmail,
            m.member_level AS memberLevel,
            CASE
                WHEN m.member_active = 1 THEN '활동회원'
                WHEN m.member_active = 0 THEN '비활성 회원'
                END AS memberStatus
        FROM member m
        WHERE m.member_no = #{memberNo}
    </select>

    <!-- 받은 포인트에 따른 등급 -->
    <select id="findMyLevel" parameterType="java.lang.Integer"
            resultType="com.eat.today.member.query.dto.FindMyLevelDTO">
        SELECT
            m.member_name  AS memberName,
            m.member_level AS memberLevel,
            CASE
                WHEN m.member_role = 'ADMIN' THEN '관리자'
                WHEN m.member_level >= 500   THEN '골드'
                WHEN m.member_level >= 300   THEN '실버'
                ELSE '브론즈'
                END AS memberLevelLabel
        FROM member m
        WHERE m.member_no = #{memberNo}
    </select>

</mapper>
